* {
    margin: 0;
    padding: 0;
    font-size: large;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container-1 {
    display: flex; 
    background-color: red;
    justify-content: first baseline;
    /* flex-wrap: wrap; */  /* WWTD */
    flex-direction: row; /* default is row */
    padding: 0px; /* WWTD */
    /* height: 500px;  */ /* WWTD */
    /* align-items:center; */  /* WWTD */
 }

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; 
    height: 100px;
    flex-basis: 100px;
    background-color: green;
    border-radius: 15px;
    border: 1px solid white;
    padding: 10px;
}

/* 
.flex-item:nth-child(1) {
    flex-basis: 200px;
    min-width: 200px;
} 
*/

.flex-item:nth-child(3) {
    background-color: purple;
    flex-basis: 200px;
    flex-grow: 0;
    min-width: 100px;
    align-items: flex-end;
}
