/* Global */
* { 
    margin: 0;
    padding: 0;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif
}

/* General */
body {
    padding: 10px; /* WWTD */
}

h2 {
    font-size: smaller;
}

/* ID */
#nav-content {
    background-color: lightgray;
    padding: 20px;
}

#footer {
    background-color: lightgray;
    padding: 20px;
    /* margin: 20px; */ /* WWTD */
}

/* Class */
.selling-point {
    background-color: lightcoral;
    margin: 20px; /* WWTD */
}

.section {
    background-color: lightgray; 
}

/* Descendant Match */
body main div div div {
    background-color: lightblue;
}

/* Child Match ???????  */
body > main > div > div > div {
    background-color: lightgoldenrodyellow;
}

/* Attribute Match */
img[alt=check] {
    width: 20px;
}

/* Psuedo */
a:hover {
    background-color: hotpink;
}
a:link {
    color: red;
}
a:visited {
    color: green;
}
