/* Global */
* { 
    margin: 0;
    padding: 0;
}

/* General */
body {
    padding: 10px; /* WWTD */
}

h2 {
    font-size: smaller;
}

/* ID */
#nav-content {
    background-color: lightgray;
    padding: 20px;
}

/* Class */
.selling-point {
    background-color: lightcoral;
    margin: 20px;
}

