* { 
    margin: 0;
    padding: 0;
    font-size: large;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0072e1;
}

#header {
    display: flex;
    border-bottom: 1px solid black;
    background-color: white;
    justify-content: space-between;
}

.header-item:nth-child(2) {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#contents {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgray;
}

#footer {
    background-color: #0072e1;
    display: flex;
    justify-content: space-between;

    color: rgb(189, 189, 189);
    font-weight: 100;
}

.list {
    padding-left: 10px;
    padding-top: 10px;
  
    background-color: white;
    color: black;
}

.list ul, li{
    background-color: white;
    color: black;
}

.picture {
    display: flex;
    justify-content: center;
    background-color: white;
    min-height: 265px;
    min-width: 300px;
}

/* Show bootstrap columns */
[class*="col"] {
    padding: 1rem;
    background-color: lightgray;

}

/* Show bootstrap containers */
[class*="con"] {
    background-color: lightgray;
}

/* Show bootstrap columns */
/* [class*="col"] {
    background-color: white;
}  */

/* Show bootstrap containers */
/* [class*="con"] {
    background-color: white;
}  */